*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.header__title{
    font-size: 24px ;
}
.header__nav-list{
    margin-top: 20px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap; /* flex wrap wrap is important for responsitivity */
}
.nav-list__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-list__link--active{
    color: rgb(195, 129, 7);
}
.mian{
    padding: 40px;
}
.about__title,
.portfolio__title,
.contact__tile{
    font-size: 24px;
    padding: 30px 0;
}
.about__text{
    margin-bottom:20px ;
}
.portfolio__cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    border: 1px solid  #ccc ;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.project__image{
    width: 100%;
    max-width: 400px;
}
.project__title{
    font-size: 18px;
}
/* .project__description{
} */
.project__button{
    color:white;
    background-color: rgb(15, 9, 9) ;
    padding:10px 20px ;
    cursor: pointer;
}
.contact__form{
    margin-top: 20px;
}
.contact__label{
    display: block;
    margin:5px 0;
    font-weight: bold;
}
.contact__input,
.contact__textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    max-width: 500px;
    border: 1px  solid #ccc ;
}
.contact__submit{
    background-color:#333 ;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.footer{
    color: white;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}
/*  MEDIA QUARRIE KERMAL AL RESPONSIVE  */
@media screen and (max-width:900px) { /* lazem ykwn fe space yaaaaaa 79aaaaaan b3d and */
    .portfolio__cards{
        flex-direction: column;
    }
    .project__description{
        font-size: 18px;
    }
}